@import "variables.css";
:root {
  --icon-color: var(--color-baby-blue-eyes);
  --background-color: var(--color-astronaut-blue);
}
.scroll-pane {
  border-right: 1px solid var(--color-baby-blue-eyes);
  overflow: hidden;
  height: 100%;
  overflow: hidden;
}

.hidden {
  overflow:hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 0 0;
  background: var(--background-color);
  min-height: 30px;
  max-height: 30px;
}

.icon {
  fill: var(--icon-color);
  height: 15px;
  width: 15px;
  cursor: pointer;
}
