@import "variables.css";
.app {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  @nest & * {
    /*box-sizing makes sizing easier*/
    box-sizing: border-box;
  }
}
.content {
  position: absolute;
  top: var(--header-bar-height);
  left: var(--side-bar-width);
  height: calc(100vh - var(--header-bar-height));
  width: calc(100vw - var(--side-bar-width));
  display: flex;

}
