@import "variables.css";
@import "messages.css";

.heading {
  margin: 10px 0 0 0;
  cursor: default;
  @nest &:hover {
    background: var(--color-white);
  }
}

.icon {
  width: 15px;
  height: 15px;
  margin: 0 10px 5px 0;
  transform: rotate(90deg);
  fill: var(--color-baby-blue-eyes);
  cursor: pointer;
}

.flex-container {
  display: flex;
  align-items: center;
}
