@import "variables.css";

.filter-item {
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
}

.content{
  padding: 0 5px 0 0;
}

.icon {
  cursor: pointer;
  fill: var(--color-baby-blue-eyes);
  width: 10px;
  height: 10px;
}
